<div class="container mt-5">
    <div class="row">
        <h1>How would you like to start?</h1>
    </div>
  <div class="row mt-5">

      
        <form style="width:70%">
            <div class="form-check">
                <input class="form-check-input position-static mr-5" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                <img src="https://s3.amazonaws.com/airbnb-clone2018/assets/icons/house-icon-placeholder.jpg" alt="">
              </div>

              <div class="divider mt-5 mb-3"></div>
              <button class="btn next-btn float-right" type="submit">Next</button>
        </form>
</div>



</div>