

.bg {
    background: url("https://s3.amazonaws.com/airbnb-clone2018/images/pages/become-a-host.jpg");
      /* Full height */
      height: 100vh;
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}